/MediathequeData.class
/Livre.class
/Document.class
/DocumentData.class
/ConnexionDB.class
/ConnectionDB.class
/MediathequeData$DOC_TYPE.class
/DocumentData$DOC_TYPE.class
/CreationDocumentException.class
