<web-app>

	<listener>
		<listener-class>persistantdata.Config</listener-class>
	</listener>

<!-- ######## Services ######## -->

	<servlet>
		<servlet-name>Connection</servlet-name>
		<servlet-class>services.Connection</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Connection</servlet-name>
		<url-pattern>/connection</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Emprunt</servlet-name>
		<servlet-class>services.Emprunt</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Emprunt</servlet-name>
		<url-pattern>/services/emprunt</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Retour</servlet-name>
		<servlet-class>services.Retour</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Retour</servlet-name>
		<url-pattern>/services/retour</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Ajout</servlet-name>
		<servlet-class>services.Ajout</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Ajout</servlet-name>
		<url-pattern>/services/ajout</url-pattern>
	</servlet-mapping>


<!-- ######## JSP ####### -->

	<servlet>
		<servlet-name>Accueil</servlet-name>
		<jsp-file>/accueil.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Accueil</servlet-name>
		<url-pattern>/accueil</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Emprunter</servlet-name>
		<jsp-file>/emprunter.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Emprunter</servlet-name>
		<url-pattern>/emprunter</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Retourner</servlet-name>
		<jsp-file>/retourner.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Retourner</servlet-name>
		<url-pattern>/retourner</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Ajouter</servlet-name>
		<jsp-file>/ajouter.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Ajouter</servlet-name>
		<url-pattern>/ajouter</url-pattern>
	</servlet-mapping>

</web-app>
