/Document.class
/EmpruntException.class
/Mediatheque.class
/PersistentMediatheque.class
/Utilisateur.class
/RetourException.class
/DocNonPossedeException.class
/CreationDocumentException.class
/Abonne.class
/ActionNonAutoriseeException.class
